<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- 
    name = Имя, которое используется для ссылки на данный раздел в файле настройки.
    type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика, наименование сборки, где данный класс располагается.
    -->
    <sectionGroup name="StartupFoldersGroup">
      <section name="StartupFolders" type="CustomConfig.StartupFoldersConfigSection, CustomConfig" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="test" value="value1"/>
  </appSettings>
  <StartupFoldersGroup>
    <StartupFolders>
      <Folders>
        <Folder folderType ="A" path ="c:\foo" />
        <Folder folderType ="B" path ="c:\foo1" />
      </Folders>
    </StartupFolders>
  </StartupFoldersGroup>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>  
</configuration>

